.myFlexContainer, .MyPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f03939;
}

.MyColor {
  background-color: pink;
  color: white;
}

.MyFlexItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  padding: 20px;
  background-color: #2c20d3;
  border: 3px solid #f1f5f5;
  border-radius: 5px;
  color: green;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.MyFlexItem #header-title-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e7f56d;
}
.MyFlexItem #header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #37f58d;
  padding: 10px;
}
.MyFlexItem button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
          box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: ghostwhite;
  cursor: pointer;
  display: inline-block;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 5px;
  background-color: rgba(235, 240, 196, 0.862745098);
}
.MyFlexItem button#delete-button {
  background-color: indianred;
}
.MyFlexItem button#add-button {
  background-color: limegreen;
}
.MyFlexItem button#cancel-button {
  background-color: whitesmoke;
  color: darkgrey;
}
.MyFlexItem button:focus:not(:focus-visible):not(.focus-visible) {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.MyFlexItem button:hover {
  background-color: #f5ea54;
}
.MyFlexItem button:focus {
  -webkit-box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
          box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}
.MyFlexItem button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}
.MyFlexItem button:active {
  background-color: #e47d29;
  -webkit-box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
          box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.main-header {
  background-color: red;
}

.test div {
  color: blue;
}
.test .main-header {
  background-color: red;
}/*# sourceMappingURL=base.css.map */