{% extends "PropertiesApp/properties_app_base.html" %}

{% block content %}

    <h2>Dwelling Details</h2>
    <div class="w3-container w3-blue">
        <h3>Our Sidebar</h3>
        <p class='text-muted'>This is the dwelling details page </p>
        <h2>{{ dwelling.house }} {{ dwelling.street }}</h2>
        <p>Town: {{ dwelling.town }}</p>
        <p>County: {{ dwelling.county }}</p>
        <p>Postcode: {{ dwelling.postcode }}</p>
    </div>
    <a href="{% url 'list-dwelling' %}">Back to list</a>
    <a href="{% url 'update-dwelling' dwelling.pk %}">Edit</a>
    <a href="{% url 'delete-dwelling' dwelling.pk %}">Delete</a>

  {% endblock content %}