{% extends "PropertiesApp/properties_app_base.html" %}

{% block content %}

    <div class="w3-container w3-blue">
        <p class='text-muted'>This is the lease details page </p>
        <h2>{{ lease.start_date }}</h2>
        <p>End Date: {{ lease.end_date }}</p>   
        <p>Rent Amount: {{ lease.rent_amount }}</p>
        <p>Tenant: {{ lease.tenant }}</p>
        {% comment %} This returns the --str-- method from the Tenant model {% endcomment %}
        <p>Dwelling: {{ lease.dwelling.house }}</p>
        {% comment %} This returns the house attribute from the Dwelling model {% endcomment %}
    </div>
    <a href="{% url 'list-lease' %}">Back to list</a>
    <a href="{% url 'update-lease' lease.pk %}">Edit</a>
    <a href="{% url 'delete-lease' lease.pk %}">Delete</a>

  {% endblock content %}