{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load partials %}

{% block title %}
  <title>Tenant make list</title>  
{% endblock %}

{% block content %}

{% startpartial add-tenant %}
{% comment %} <li class="list-group-item">
  {{ tenant.first_name }} 
  {{ tenant.last_name }} 
  {{ tenant.email }} 
  {{ tenant.phone }}
</li> {% endcomment %}

<tr class="TableRowEven">
  <td class="px-6 py-1">{{ tenant.first_name }}</td>
  <td class="px-6 py-1">{{ tenant.last_name }}</td>
  <td class="px-6 py-1">{{ tenant.email }}</td>
  <td class="px-6 py-1">{{ tenant.phone }}</td>
  <td class="px-6 py-1">
    <div>
      <a href="{% url 'update-tenant' tenant.pk %}" class="MyButton" id="edit-button">Edit</a>
      <a href="{% url 'delete-tenant' tenant.pk %}" class="MyButton" id="delete-button">Delete</a>
    </div>
  </td>
</tr>

{% endpartial %}

<div class="MyFlexContainerColoumn" id="title-panel"> <!-- flex container -->
  
  <div class="MyFlexContainerRow" id="main-header"> <!-- flex container -->

    <div id="header-title-div" class="MyFlexItem"> <!-- flex item -->
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 me-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
      </svg>
      <p>Tenants</p>
    </div>

  </div>

  <div id="the_form_area"  class="w3-container w3-light-blue w3-round-large" >
    <!-- {% crispy form %} -->
    <form hx-post="{% url 'alist-tenant' %}" hx-target="#the-table" hx-swap="beforeend" id="the-form" class="MyForm">
      {% csrf_token %}
      <input type="text" name="first_name" placeholder="First Name">
      <input type="text" name="last_name" placeholder="Last Name">
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="phone" placeholder="Phone">
      <button type="submit" class="MyButton" id="add-button">Add Tenant</button>
    </form>
  </div>

  <div id="the_list_area" class="MyPanelForLists">
    {% if tenants %}
      {% comment %} <ul class="list-group" id="the-list">
        {% for tenant in tenants %}
            {% partial add-tenant %}
        {% endfor %}
      </ul> {% endcomment %}

  
      <table>
        <thead  class="TableHeader">
          <tr>
            <th class="px-6 py-3">First Name</th>
            <th class="px-6 py-3">Last Name</th>
            <th class="px-6 py-3">Email</th>
            <th class="px-6 py-3">Phone</th>
            <th class="px-6 py-3">Actions</th>
          </tr>
        </thead>

        <tbody id="the-table">
          {% for tenant in tenants %}
            {% partial add-tenant %}
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No Tenants found</p>
    {% endif %} 

  </div>

</div>

  <script>
    var acc = document.getElementsByClassName('accordion')
    var i
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener('click', function () {
        this.classList.toggle('active')
        var panel = this.nextElementSibling
        if (panel.style.display === 'block') {
          panel.style.display = 'none'
        } else {
          panel.style.display = 'block'
        }
      })
    }
  </script>

  <script>
    let form = document.querySelector('form')
    form.addEventListener('htmx:afterRequest', () => {
        form.reset()
    });
</script>

  {% comment %} <div class="relative overflow-x-auto text-white">
    {% include 'tracker/partials/transactions-container.html' %}
  </div> {% endcomment %}
{% endblock %}
