{% extends 'base.html' %}
{% load partials %}

{% startpartial tenant-item %}
    <li class="list-group-item w3-container w3-blue">
        {{ tenant.first_name }} {{tenant.last_name}}
    </li>
{% endpartial tenant-item %}

{% block content %}

<div class = "row"> <!-- "row" puts the input form and the list on the same line (row) ie side by side -->
    <div class="col-12 col-sm-6 w3-container w3-blue w3-round-xlarge">
        <h2>Add a tenant</h2>
        <form hx-post="{% url 'tenant-home' %}" hx-target="#tenant-list" hx-swap="beforeend" hx-put="/" hx-on::after-request="if(event.detail.successful) this.reset()">
            {{ form.as_div }}
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>

    <div class="col-12 col-sm-6 w3-container w3-blue w3-round-xlarge" >
        <h2>Tenant List</h2>
        <ul class="list-group w3-ul" id="tenant-list">
            {% for tenant in tenants %}
                {% partial tenant-item %}
            {% empty %}
                <li class="w3-container">No tenants available.</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}