@use 'buttons' as btn;
@use 'colors' as col;

@mixin myFlexContainerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@mixin myFlexContainerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #6095a075;
    margin: 5px;
    border-radius: 5px; // Rounded corners for items
}

@mixin myFlexItem {
    /* class applied to each item in the header */
    align-items: center; //* vertically */
    justify-content: space-between; //* horizontally */
    margin: 10px; //* Space around each item */
    padding: 10px; //* Padding inside each item */
    border: 3px solid #15e2e2; //* Border for items */
    border-radius: 5px; // Rounded corners for items
    color: green; // Text color for items
    text-align: center; // Centered text
    font-weight: bold; // Bold text
    font-size: 12px; // Slightly larger text
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Subtle shadow for depth */

    &#header-title-div {
        display: flex;
        flex-basis: 20%;
        align-items: top;
        justify-content: left;
        color: col.$light-theme-text-color;
        font-size: 20px;
        background-color: #6095a075;
    }

    &#header-buttons {
        display: flex;
        flex-basis: content;
        align-items: flex-end;
        justify-content: left;
        background-color: #6c60a075;
        button {
            @include btn.button-3;
        }
    }
}