<!-- Side Navigation (Row 2, Col 1)-->
<div class=" w3-light-grey w3-bar-block" style="grid-column:1; grid-row:2"  >
    <a href={% url 'create-tenant' %} class="w3-bar-item w3-button">Create Tenant</a>
    <a href={% url 'create-dwelling' %} class="w3-bar-item w3-button">Create Dwelling</a>
    <a href={% url 'create-lease' %} class="w3-bar-item w3-button">Create Lease</a>
    <a href={% url 'list-tenant' %} class="w3-bar-item w3-button">List Tenants</a>
    <a href={% url 'list-dwelling' %} class="w3-bar-item w3-button">List Dwellings</a>
    <a href={% url 'list-lease' %} class="w3-bar-item w3-button">List Leases</a>
    
</div>