$myButtonBackgroundColor: pink
$add-button-background-color: limegreen
$delete-button-background-color: indianred
$cancel-button-background-color: whitesmoke
$button-text-color: ghostwhite
$cancel-button-text-color: darkgrey