@use 'flex_containers' as fc

/// class applied to div that holds the entire page content
/* sets up the main panel as a flex-container
@mixin myPanel_for_lists
    display: flex
    flex-direction: column
    background-color: #7bf318    
   
@mixin main-header
    /* sets up main-header to be flex container
    @include fc.myFlexContainer        
    div
        /* sets up any div inside the main-header to be a flex-item
        @include fc.myFlexItem

@mixin the_list_area
        /* sets up the area that holds the lists to be a flex-item
        @include fc.myFlexItem

@mixin the-table
    /* sets the table background color
    background-color: #f3f3f3
